<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkkWFi8SmLVNmGZn7IlH6uydtBxFHSwyc</string>
	<key>GCM_SENDER_ID</key>
	<string>151360099696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labFirInteg</string>
	<key>PROJECT_ID</key>
	<string>advanced-integr</string>
	<key>STORAGE_BUCKET</key>
	<string>advanced-integr.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151360099696:ios:9a357ad6d782d9e346ebb5</string>
</dict>
</plist>